body {
    background-color: #666666;
    height: 100%;
    width: 100%;
}

.nav-bar-icons {
    width: 100%;
}

.teal {
    width: 100%;
    background-color: rgb(14, 94, 95);
}

.pink {
    width: 100%;
    background-color: #890044;
}

/* black banner */
.patient-info {
    background-color: black;
    position: relative;
    width: 100%;
    height: 20%;
}

/* plate images */
.plate {
    position: relative;
    width: 49.3%;
    padding-bottom: 4em;
}

.back-light {
    float: right;
}

.container .screening-buttons {
    padding: 1.5em 0em 0em 0em;
}

.screening-buttons {
    position: relative;
    width: 100%;
    height: 20%;
}

.teal .screening-buttons {
    background-color: #1EC3C5;
}

.pink .screening-buttons {
    background-color: #FF007F;
}

#btn-panel {
    background-color: rgba(0, 0, 0, 0.2);
    height: 170px;
    padding: 0;
    border: 1px solid black;
}

.header {
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
}

.col-3 {
    padding: 6px;
}

.screening-buttons .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 30px;
    margin-top: 2%;
    margin-left: 2.5%;
    font-size: small;
}

.action {
    margin-left: 1em;
}

#btn-guide {
    height: 4em;
    width: 5em;
    justify-content: center;
    text-align: center;
}

#btn-panel .btn {
    font-size: small;
    padding: 0px;
}

.action .btn {
    height: 50px;
}
