body {
    background-color: #666666;
    height: 100%;
    width: 100%;
}

.nav-bar-icons {
    width: 100%;
    background-color: #23252A;
}

.badge {
    position: absolute;
    background-color: red;
    color: white;
    font: bold;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    text-align: center;
    font-size: 0.9em;
    /* padding: 4px 0px 0px; */
    z-index: 1;
}
/* ************************************************************** SCREENING PAGE ************************************************************** */

/******************* SAMPLE CONTAINERS *******************/
.teal {
    width: 100%;
    background-color: #0e5e5f;
}

.pink {
    width: 100%;
    background-color: #890044;
}

/********************** SAMPLE DATA **********************/
.sample_info {
    background-color: black;
    color: white;
    width: 100%;
    height: 20%;
}

.white_barcode_label {
    background-color: white;
    border-radius: 5%;
}

/* black banner */
.patient-info {
    background-color: black;
    position: relative;
    width: 100%;
    height: 20%;
    margin-bottom: 1em;;
}

/********************* PLATE IMAGES *********************/
/* plate images */
.plate {
    position: relative;
    width: 49.3%;
    padding-bottom: 4em;
}

.back-light {
    float: right;
}

/******************* SCREENING BUTTONS *******************/
.container .screening-buttons {
    padding: 1.5em 0em 0em 0em;
}

.screening-buttons {
    position: relative;
    width: 100%;
    height: 20%;
}

.teal .screening-buttons {
    background-color: #1EC3C5;
}

.pink .screening-buttons {
    background-color: #FF007F;
}

.action {
    margin-left: 1em;
}

.action .btn {
    height: 50px;
}

#btn-guide {
    height: 4em;
    width: 5em;
    justify-content: center;
    text-align: center;
}

.btn-set {
    padding: 6px;
}

#btn-panel {
    background-color: #00000033;
    height: 170px;
    padding: 0;
    margin-bottom: 1em;
    border: 1px solid black;
}

.header {
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
}

.screening-buttons .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 30px;
    margin-top: 2%;
    margin-left: 2.5%;
    font-size: small;
}

#btn-panel .btn {
    font-size: small;
    padding: 0px;
}

/* ************************************************************** READING PAGE ************************************************************** */

.form-check-label {
    display: block;
    margin-bottom: 10px;
}

.form-check-input[type="radio"] {
    appearance: none;
    background-color: #fff;
    width: 15px;
    height: 15px;
    border: 2px solid plum;
    border-radius: 2px;
    display: inline-grid;
    place-content: center; 
  }

  .form-check-input[type="radio"]::before {
    content: "";
    width: 10px;
    height: 10px;
    transform: scale(0);
    transform-origin: bottom left;
    background-color: #fff;
    clip-path: polygon(13% 50%, 34% 66%, 81% 2%, 100% 18%, 39% 100%, 0 71%);
}

.form-check-input[type="radio"]:checked::before {
    transform: scale(1.75);
}
.form-check-input[type="radio"]:checked{
    background-color:   #0075FF;
    border: 2px solid #0075FF;
}

/*********** POTENTIAL PATHOGEN IMAGE LIBRARY ***********/
.PP-library {
    font-size: small;
}

.ID {
    padding: 0;
}

#pp-id {
    font-size: medium;
    color: #FF007F;
}

#spp-id {
    color:#FF007F;
    font-size: small;
}

#AST-Card {
    font-size: large;
    color: orange;
}

#additionalSensiTesting {
    color: yellow;
    font-size: small;
    text-align: start;
}

#isolateComments {
    color: aqua;
    font-size: small;
    text-align: center;
}

/*************** GENERAL MODAL FORMATTING ***************/
.modal-header {
    background-color: #00364B;
    color: white;
    justify-content: center;
}

.modal-footer {
    background-color: #00364B;
}

.btn-close {
    background-color: plum;
}

.modal-title {
    text-align: center;
}

/*********************** PLATE PIC ***********************/
.pic {
    width: 80%;
    justify-content: center;
    padding: 0;
    margin: 5% 10% 5% 10%;
    border-radius: 50%;
}

/********************* NEW PICKPOINT *********************/
.context-menu {
    display: none;
    position: absolute;
}

.circle {
    display: none;
    background-color: transparent;
    border:2px solid plum;    
    width: 1em;
    height: 1em;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}

.btn-close {
    background-color:  white;
}

.new-pickpoint-modal-body {
    text-align: center; 
    background-color: lightgray;
    font-size: small;
}

.green-filter-icon {
    width: 30px;
    height: 30px;
    padding-left: 6px;
    padding-right: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#workup_selection {
    max-height: 215px;
    overflow-y: auto;
    margin-bottom: 50px;
}

#workup_selection .btn {
    width: 90%;
    height: 25px;
    margin: 1%;
    padding: 0;
    color: white;
    font-size: small;
}

#pickpointSummary {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: x-small;
    height: auto;
    width: 16em;
    border: 1px solid white;
    border-radius: 5%;
    text-align: center;
    padding: 0.5em 0em;
}

.modal-pickpoint {
    max-width: 600px;
}

#btnCancel {
    margin-right: 0;
} 

#btnAdd {
    margin-left: 10%;
}
